* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #9ACBD0;
}

.navbar-container {
    display: flex;
    background-color: #48A6A7;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.navbar {
    display: flex;
    background-color: #48A6A7;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
}

.navbar h3 {
    margin-left: 10px;
    font-weight: 200;
    font-size: large;
}

.navbar a {
    margin-left: auto;
    text-decoration: none;
    color: black;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    text-align: center;
}