* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #9ACBD0;
}

.navbar-container {
    display: flex;
    background-color: #48A6A7;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.navbar {
    display: flex;
    background-color: #48A6A7;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
}

.navbar h3 {
    margin-left: 10px;
    font-weight: 200;
    font-size: large;
}

.navbar a {
    margin-left: auto;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.description {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 8px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.ingredients {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
}

.ingredients ul {
    display: flex;
    flex: 1 1 auto;
    margin-left: 30px;
    flex-direction: column;
}

.steps {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 4px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.steps ol {
    margin-left: 30px;
}